p {
  font-family: sans-serif;
  font-size: 20px;
}

mark {
  background-color: lavender;
}

a {
  font-family: sans-serif;
  font-size: 20px;
}

li {
  font-family: sans-serif;
  font-size: 20px;
}

span {
  font-family: sans-serif;
  font-size: 40px;
}
